# ASP.NET / .NET
*.obj
*.dll
*.exe
*.pdb
*.user
*.generated.cs
*.msbuild
obj/
bin/
_UpgradeReport_Files/
TestResults/
*.dotnet/
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.vs/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.sln.docstates

# NuGet Packages
*.nupkg
*.paket/paket.exe
paket-files/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code settings
.vscode/

# .NET Scaffolding
ScaffoldingReadMe.txt

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains Rider
.idea/
*.sln.iml